body#all-content,header,nav.navbar{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Karla', sans-serif;
}

.parallax-window {
    min-height: 250px;
    background: transparent;
}

main{
    margin:15px;
}

#coin{
    border:1px solid black;
    width:95%;
    margin:20px;
    padding:20px;
}

#symbol{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight:700;
}

#more-info-btn{
    background-color:black;
    color:white;
    margin-top: 10px;
    padding: 7px;
}

.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
  }
  
  .toggle:before {
    content: "on off";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .toggle:checked {
    background-color: #0D6CFA;
  }
  
  .toggle:checked:before {
    left: 32px;
  }

 img, p.dollars{
     margin-top:5%;
 }

 .loader{
    background: url('/imgs/progress.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
 }

 button#search-btn{
    border: 1px solid #0D6CFA;
    color: #0D6CFA;
 }

 input#search-input{
    border: 1px solid #4FAE84
 }

 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#4FAE84;
    font-weight:700;
 }

 .modal-header {
    display: block;
}

.btn-success{
    background-color:#079e69;
    border-color: #079e69;
}

div.modal-content{
    font-family: 'Karla', sans-serif;
}

header{
    margin-bottom:3%;
}

#about-img{
    width:160px;
    border:1px solid rgb(92, 92, 92);
}

#about-header{
    font-weight:700;
    text-align:justify;
}

#about-body{
    text-align:justify;
    margin-left:10px;
}